*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    background-color: azure;
    height: 100vh;
    flex-wrap: wrap;
    grid-template-columns:2fr 2fr 2fr ;
    /* grid-template-rows: 130px 130px 130px 105px 105px 105px; */
    justify-content: center;
    align-items: center;

}
.grid-item1{
    background-color: #ec450d;
    /* padding-top: 10%; */
    padding: 30px;
    padding-left: 40%;
    height: 125px;
    /* transform: translate(-50%,-50%);
    top: 50%;
    bottom: 50%; */
    position: relative;
    /* margin: 10px; */
    animation-name:item1;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.grid-item2{
    background-color: hsl(220, 18%, 97%);
    /* padding-top: 10%; */
    /* padding: 30px;
    padding-left: 40%; */
    height: 125px;
    /* transform: translate(-50%,-50%);
    top: 50%;
    bottom: 50%; */
    position: relative;
    /* margin: 10px; */
    animation-name:item2;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.grid-item3{
    background-color: #06aa37;
    /* padding-top: 10%; */
    padding: 30px;
    padding-left: 40%;
    height: 125px;
    /* transform: translate(-50%,-50%);
    top: 50%;
    bottom: 50%; */
    position: relative;
    /* margin: 10px; */
    animation-name:item3;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes item1{
    0%{
        right:0px;
    }
    100%{
        right:300px;
    }
}
@keyframes item2{
    0%{
        right:0px;
    }
    100%{
        right:300px;
    }
}
@keyframes item3{
    0%{
        right:0px;
    }
    100%{
        right:300px;
    }
}
.cir{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50% -50%);
height: 300px;
width: 300px;
border-radius: 50%;
border: 5px solid gray;


}
.cir::before{
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: #06aa37;
}

